<!-- New post button -->
<section class="new-post-section">
    <button type="submit" class="btn" id="create-new-post">+ Create new post</button>
</section>

<!-- Dashboard section -->
{{#if posts.length}}
<section>
    <!-- Dashboard heading -->
    <h2>Your Dashboard</h2>

    <!-- Post list -->
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            <!-- Include post info partial template -->
            {{> post-info post}}

            <!-- Edit post link -->
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<!-- Script to handle creating new post -->
<script src="/javascript/create-post.js"></script>
