<!-- Link to dashboard -->
<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>

<!-- Edit post form -->
<article class="new-page">
    <section class="edit-form-page">
        <!-- Form heading -->
        <div class="form-heading">
            <h2>Edit Post</h2>
        </div>

        <!-- Form section -->
        <div class="form-section">
            <form class="edit-post-form">
                <!-- Post title input field -->
                <div class="post-title-section">
                    <label for="post-title">Title</label>
                    <input type="text" name="post-title" id="post-title" value="{{post.title}}" />
                </div>

                <!-- Post content input field -->
                <div class="post-content">
                    <label for="post-content">Content</label>
                    <textarea class="entry-field" id="post-content" name="post-content">{{post.content}}</textarea>
                </div>

                <!-- Submit button and delete post button -->
                <button type="submit">Update post</button>
                <button type="button" class="delete-post-btn">Delete post</button>
            </form>
        </div>
    </section>
</article>

<!-- Include edit and delete post scripts if user is logged in -->
{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{/if}}
