<section class="login-page">
    <!-- Form heading -->
    <div class="form-heading">
        <h1>Log In</h1>
    </div>

    <!-- Form section -->
    <div class="form-section">
        <!-- Login form -->
        <form class="login-form">
            <!-- Username input field -->
            <div>
                <label for="username-login">Username</label>
                <input type="text" class="entry-field" id="username-login" />
            </div>

            <!-- Password input field -->
            <div>
                <label for="password-login">Password</label>
                <input type="password" class="entry-field" id="password-login" />
            </div>

            <!-- Submit button -->
            <div>
                <button type="submit" class="login-signup-btn">Log In!</button>
            </div>
        </form>
    </div>

    <!-- Link to the sign up page -->
    <a href="/signup" class="sign-in-link">sign up instead</a>
</section>

<!-- Script to handle user login -->
<script src="/javascript/login.js"></script>
