<!-- HTML form for user sign up -->
<section class="sign-in-page">
    <!-- Form heading -->
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>

    <!-- Form section -->
    <div class="form-section">
        <!-- Sign up form -->
        <form class="signup-form">
            <!-- Username input field -->
            <div>
                <label for="username-signup">Select a Username</label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>

            <!-- Password input field -->
            <div>
                <label for="password-signup">Select a password</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>

            <!-- Submit button -->
            <div>
                <button type="submit" class="login-signup-btn">Sign Up!</button>
            </div>
        </form>
    </div>

    <!-- Link to the login page -->
    <a href="/login" class="login-link">log in instead</a>
</section>

<!-- Script to handle user sign up -->
<script src="/javascript/signup.js"></script>
