<!-- Link to go back to the dashboard -->
<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>
<br>
<br>

<!-- Include the post-info partial template -->
{{> post-info post}}

<!-- Show the comment form if the user is logged in -->
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

<!-- Include the comments partial template -->
{{> comments post.comments}}

<!-- Include the comment.js script if the user is logged in -->
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
